body {
    margin: 0;
}
.header {
    height: 50px;
    padding: 10px;
    display: block;
    position: relative;
    z-index: 999;
    padding-top: 2px;

    -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.29);
}

.inline {
    display: inline;
}

.logo {
    display: inline-block;
    height: 70px;
    font-size: 40px;
    width: 160px;
    margin-left: 26px;
    background-position: center -83px;
    background-size: 224px;
    background-image: url(logo.png);
}
.title {
    font-family: 'Quicksand', sans-serif;
    display: inline;
    font-size: 30px;
    font-weight: 300;
    margin-left: 20px;
}

#examplesBtn {
    margin-left: 80px;
    padding: 12px 25px;
    position: relative;
    background-color: #004a55;
    color: white;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
}

#examplesBtn .dropdown {
    position: absolute;
    padding: 12px 25px;
    min-height: 160px;
    min-width: 300px;
    display: none;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    background-color: #004a55;
    color: white;
    font-family: 'Quicksand', sans-serif;
    -webkit-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.29);
}

#examplesBtn:hover .dropdown {
    display: block;
    opacity: 1;
}
#examplesBtn .dropdown a{
    display: block;
    margin-top: 10px;
    color: white;
}




.editor {
    display: flex;
    height: calc( 100% - 70px );
    align-items: stretch;
}

#editorWrapper {
    position: relative;
    min-height: 100%;
}

.editorPanel {
    position: relative;
}

.gutter {
    background-color: #eaeaea;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}

#resultPanel {
    border: none;
    background-color: #fafafa;
    height: 100%;
    min-height: 100%;
}
#editorActions {
    background-color: #fafafa;
    position: relative;
    width: 100%;
    z-index: 999;
}

#runBtn {
    position: absolute;
    bottom: 40px;
    right: 40px;
}

#runProgress {
    position: absolute;
    bottom: 52px;
    left: 52px;
    border-radius: 5px;
    border: 1px solid #004a55;
    padding: 3px;
    text-align: center;
    width: calc( 100% - 250px );
    color: #666;
    font-family: 'Quicksand', sans-serif;
}

#runProgress .progress-bar {
    background-color: #004a55;
    height: 27px;
    position: absolute;
    top: 0;
    left: 0;
}

#runProgress .progress-message {
    display: none;
}

#runProgress .waiting-message {
    display: block;
}

#runProgress.progress .progress-message {
    display: block;
}

#runProgress.progress .waiting-message {
    display: none;
}