html{
    background-color:#fff;
    min-height:100%;
    box-sizing:border-box;
    overflow-y:scroll;
    text-rendering:optimizeLegibility;
    line-height:20px;
    -webkit-font-feature-settings:"kern", "kern";
            font-feature-settings:"kern", "kern";
    -webkit-font-kerning:normal;
            font-kerning:normal;
    font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Arial,sans-serif;
    font-size:14px;
  }